@font-face {
   font-family: 'PT Serif';
   font-style: normal;
   font-display: swap;
   font-weight: 700;
   src: url('file:///C:/Users/coryn/Documents/CoreyKingLaw.com/fonts/PT Serif/700.ttf') format('truetype');
}
@font-face {
   font-family: 'PT Serif';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///C:/Users/coryn/Documents/CoreyKingLaw.com/fonts/PT Serif/regular.ttf') format('truetype');
}
@font-face {
   font-family: 'PT Serif';
   font-style: italic;
   font-display: swap;
   font-weight: 400;
   src: url('file:///C:/Users/coryn/Documents/CoreyKingLaw.com/fonts/PT Serif/italic.ttf') format('truetype');
}
@font-face {
   font-family: 'PT Serif';
   font-style: italic;
   font-display: swap;
   font-weight: 700;
   src: url('file:///C:/Users/coryn/Documents/CoreyKingLaw.com/fonts/PT Serif/700italic.ttf') format('truetype');
}
