@font-face {
   font-family: 'Caveat';
   font-style: normal;
   font-display: swap;
   font-weight: 500;
   src: url('file:///C:/Users/coryn/Documents/CoreyKingLaw.com/fonts/Caveat/500.ttf') format('truetype');
}
@font-face {
   font-family: 'Caveat';
   font-style: normal;
   font-display: swap;
   font-weight: 600;
   src: url('file:///C:/Users/coryn/Documents/CoreyKingLaw.com/fonts/Caveat/600.ttf') format('truetype');
}
@font-face {
   font-family: 'Caveat';
   font-style: normal;
   font-display: swap;
   font-weight: 700;
   src: url('file:///C:/Users/coryn/Documents/CoreyKingLaw.com/fonts/Caveat/700.ttf') format('truetype');
}
@font-face {
   font-family: 'Caveat';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///C:/Users/coryn/Documents/CoreyKingLaw.com/fonts/Caveat/regular.ttf') format('truetype');
}
